<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
	
		<title>Navigation</title>
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
		<div id="container">
			
			<header>
				<h1>Navigation</h1>
				<h2>Home Page</h2>

			<nav>				
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.thml">About</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>
			</header> 

			<footer> 
				<p>Some Footer Text</p>
			</footer> 
		
		</div><!-- #container --> 
	</body>
</html>